<div id="container">
  <mat-form-field appearance="fill">
    <mat-label>Deployment Name</mat-label>
    <input matInput [readonly]="true" [value]="deployment.name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Deployment ID</mat-label>
    <input matInput [readonly]="true" [value]="deployment.id">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Module ID</mat-label>
    <input matInput [readonly]="true" [value]="deployment.module_id">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Created</mat-label>
    <input matInput [readonly]="true" [value]="deployment.created | date: 'short'">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Updated</mat-label>
    <input matInput [readonly]="true" [value]="deployment.updated | date: 'short'">
  </mat-form-field>

  <mat-checkbox [disabled]="true" [ngModel]="deployment.stopped">Stopped</mat-checkbox>

  <mat-checkbox [disabled]="true" [ngModel]="deployment.indirect">Indirect</mat-checkbox>


</div>
