<form [formGroup]="form">

  <mat-card class="deployment-box">

    <div class="form-container">
      <div id="module-info-text" *ngIf="(mode == 'new' || mode == 'update') && module">
        <h1>{{ module.name }}</h1>
        <p>{{ module.id }}</p>
      </div>

      <div id="module-info-text" *ngIf="mode == 'edit' && deployment">
        <h1>{{ deployment.name }}</h1>
        <p>{{ deployment.id }}</p>
      </div>


      <mat-form-field appearance="fill" *ngIf="mode != 'update'">
        <mat-label>Deployment Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <h2>Host Resources</h2>
      <div *ngFor="let host_resource of deploymentTemplateData['host_resources'];" formGroupName="host_resources"
        class="form-field-container">
        <mat-form-field appearance="fill" [hintLabel]="host_resource.description">
          <mat-label>{{host_resource.name}}</mat-label>
          <mat-select [formControlName]="host_resource.id">
            <mat-option *ngFor="let hostResource of hostResourcesOptions" [value]="hostResource.id">
              {{hostResource.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <h2>Secrets</h2>
      <div *ngFor="let secret of deploymentTemplateData['secrets']" formGroupName="secrets"
        class="form-field-container">
        <!-- Create new Secret -->
        <div class="secret-container">
          <!-- Select from available secrets -->
          <mat-form-field appearance="fill" [hintLabel]="secret.description">
            <mat-label>{{secret.name}}</mat-label>
            <mat-select [formControlName]="secret.id">
              <mat-option *ngFor="let secret of secretOptions[secret.type]" [value]="secret.id">
                {{secret.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <h2>Configs</h2>
      <div *ngFor="let config of deploymentTemplateData['configs'];" formGroupName="configs"
        class="form-field-container">
        <mat-form-field appearance="fill" [hintLabel]="config.description">
          <mat-label>{{config.name}}</mat-label>
          <!-- Single Value Config -->
          <span *ngIf="!config.is_list">
            <!-- Free -->
            <span *ngIf="!config.options">
              <span *ngIf="config.type == 'text'">
                <input matInput [formControlName]="config.id">
              </span>
              <span *ngIf="config.type == 'number'">
                <input matInput [formControlName]="config.id" type="number">
              </span>
            </span>

            <!-- Dropdown -->
            <span *ngIf="config.options">
              <mat-select [formControlName]="config.id">
                <mat-option *ngFor="let option of config.options" [value]="option">
                  {{option}}
                </mat-option>
              </mat-select>
            </span>
          </span>

          <!-- Multi Value Config -->
          <span *ngIf="config.is_list">
            <mat-chip-grid #chipGrid [formControlName]="config.id">
              <mat-chip-row *ngFor="let option of form?.get('configs')?.get(config.id)?.value"
                (removed)="remove(option, 'configs', config.id)" [editable]="true">
                {{option}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
              <input placeholder="New value..." [matChipInputFor]="chipGrid"
                (matChipInputTokenEnd)="add($event, 'configs', config.id)" />
            </mat-chip-grid>
          </span>

        </mat-form-field>
      </div>
    </div>
  </mat-card>
</form>
