<form [formGroup]="form">

  <mat-card class="card">

    <div class="form-container" *ngIf="ready">
      <div id="module-info-text" *ngIf="(mode == 'new' || mode == 'update') && module">
        <h1>{{ module.name }}</h1>
        <p>Module ID: {{ module.id }}</p>
        <p *ngIf="mode == 'update'">Version: {{ pending_version }}</p>
      </div>

      <div id="module-info-text" *ngIf="mode == 'edit' && deployment">
        <h1>{{ deployment.name }}</h1>
        <p>{{ deployment.id }}</p>
      </div>

      <mat-form-field appearance="fill" *ngIf="mode != 'update'">
        <mat-label>Deployment Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <div *ngIf="inputGroupsExists()">
        <app-group 
          [allGroupTemplates]="formTemplate"
          [groupID]="noGroupKey"
          [group]="deploymentTemplateData?.input_groups?.[noGroupKey]" 
          [moduleID]="moduleID"
          [hostResourcesOptions]="hostResourcesOptions" 
          [secretOptions]="secretOptions"
          [deploymentTemplateData]="deploymentTemplateData"></app-group>

        <div *ngFor="let group of groupHierarchy | keyvalue">
          <mat-card class="card group-container" [formGroup]="form">
            <app-group [groupHierarchy]="group.value" [allGroupTemplates]="formTemplate"
              [groupID]="group.key"
              [group]="deploymentTemplateData?.input_groups?.[group.key]" [moduleID]="moduleID"
              [hostResourcesOptions]="hostResourcesOptions" [secretOptions]="secretOptions"
              [deploymentTemplateData]="deploymentTemplateData"></app-group>
          </mat-card>
        </div>
      </div>

      <div *ngIf="!inputGroupsExists()">
        <app-group [allGroupTemplates]="formTemplate" [moduleID]="moduleID"
          [hostResourcesOptions]="hostResourcesOptions" [secretOptions]="secretOptions"
          [deploymentTemplateData]="deploymentTemplateData"></app-group>
      </div>

    </div>
  </mat-card>
</form>
