.form-field-container {
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}

.secret-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.secret-container mat-form-field {
    width: 60%;
}

.deployment-box {
    padding: 30px
}

#module-info-text h1 {
    font-weight: bold;
}

#module-info-text p {
    color: grey
}