.form-field-container {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

#module-info-text h1 {
  font-weight: bold;
}

#module-info-text p {
  color: grey
}

.group-container {
  margin-bottom: 30px;
}
