<form [formGroup]="form">

  <mat-card class="card">

    <div *ngIf="ready" class="form-container">
      <div *ngIf="(mode == 'new' || mode == 'update') && module" id="module-info-text">
        <h1>{{ module.name }}</h1>
        <p>Module ID: {{ module.id }}</p>
        <p *ngIf="mode == 'update'">Version: {{ pending_version }}</p>
      </div>

      <div *ngIf="mode == 'edit' && deployment" id="module-info-text">
        <h1>{{ deployment.name }}</h1>
        <p>{{ deployment.id }}</p>
      </div>

      <mat-form-field *ngIf="mode != 'update'" appearance="fill">
        <mat-label>Deployment Name</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>

      <div *ngIf="inputGroupsExists()">
        <app-group
          [allGroupTemplates]="formTemplate"
          [deploymentTemplateData]="deploymentTemplateData"
          [groupID]="noGroupKey"
          [group]="deploymentTemplateData?.input_groups?.[noGroupKey]"
          [hostResourcesOptions]="hostResourcesOptions"
          [moduleID]="moduleID"
          [secretOptions]="secretOptions"></app-group>

        <div *ngFor="let group of groupHierarchy | keyvalue">
          <mat-card [formGroup]="form" class="card group-container">
            <app-group [allGroupTemplates]="formTemplate" [deploymentTemplateData]="deploymentTemplateData"
                       [groupHierarchy]="group.value"
                       [groupID]="group.key" [group]="deploymentTemplateData?.input_groups?.[group.key]"
                       [hostResourcesOptions]="hostResourcesOptions" [moduleID]="moduleID"
                       [secretOptions]="secretOptions"></app-group>
          </mat-card>
        </div>
      </div>

      <div *ngIf="!inputGroupsExists()">
        <app-group [allGroupTemplates]="formTemplate" [deploymentTemplateData]="deploymentTemplateData"
                   [hostResourcesOptions]="hostResourcesOptions" [moduleID]="moduleID"
                   [secretOptions]="secretOptions"></app-group>
      </div>

    </div>
  </mat-card>
</form>
