<spinner class="global-centered-spinner" [show]="waitingForLogin"></spinner>

<div id="container">
    <div id="form-container">
        <div [formGroup]="form" class="form">
            <mat-form-field color="accent">
                <mat-label>Username</mat-label>
                <input matInput placeholder="USername" type="text" formControlName="username">
            </mat-form-field>
         
            <mat-form-field color="accent">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" type="password" formControlName="password">
            </mat-form-field>
         
            <button mat-raised-button color="primary" type="submit" (click)="login()" [disabled]="!form.valid">Login</button>        
        </div>
    </div>

</div>
