<div id="container" class="modal-outer">
  <form [formGroup]="form">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Available Versions</mat-label>
        <mat-select formControlName="version">
          <mat-option *ngFor="let version of availableModuleUpdate.versions" [value]="version">
            {{version}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <button mat-raised-button color="primary" (click)="prepareUpdate()">Update</button>
  <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
</div>
