<div class="modal-outer" id="container">
  <form [formGroup]="form">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Available Versions</mat-label>
        <mat-select [(ngModel)]="selectedVersion" formControlName="version">
          <mat-option *ngFor="let version of availableModuleUpdate.versions" [value]="version">
            {{ version }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <button (click)="prepareUpdate()" color="primary" mat-raised-button>Update</button>
  <button (click)="closeDialog()" color="primary" mat-raised-button>Cancel</button>
</div>
