<div class="mgw-page mgw-page-narrow has-action-bar">
  <mgw-page-header
    [description]="'deployments.addEndpoint.description' | transloco"
    [title]="'deployments.addEndpoint.title' | transloco"
    backTo="/resources/endpoints"
  ></mgw-page-header>

  <div [formGroup]="form" class="mgw-card card">
    <div class="field">
      <label for="alias-path">{{ 'deployments.addEndpoint.path' | transloco }}</label>
      <p [innerHTML]="'deployments.addEndpoint.pathHint' | transloco" class="desc"></p>
      <mat-form-field appearance="outline" class="control" subscriptSizing="dynamic">
        <input formControlName="path" id="alias-path" matInput type="text" />
      </mat-form-field>
    </div>
  </div>

  <div class="mgw-action-bar">
    <span class="mgw-spacer"></span>
    <button [routerLink]="'/resources/endpoints'" mat-button>{{ 'deployments.addEndpoint.cancel' | transloco }}</button>
    <button (click)="add()" [disabled]="!form.valid" mat-flat-button type="submit">
      {{ 'deployments.addEndpoint.addAlias' | transloco }}
    </button>
  </div>
</div>
