<div class="form-margin" *ngIf="ready">
  <mat-form-field appearance="fill">
    <mat-label>UI Version</mat-label>
    <input matInput [readonly]="true" [value]="uiVersion">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Module-Manager Version</mat-label>
    <input matInput [readonly]="true" [value]="moduleManagerVersion">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Secret-Manager Version</mat-label>
    <input matInput [readonly]="true" [value]="secretManagerVersion">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Host-Manager Version</mat-label>
    <input matInput [readonly]="true" [value]="hostManagerVersion">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Container-Engine-Wrapper Version</mat-label>
    <input matInput [readonly]="true" [value]="containerManagerVersion">
  </mat-form-field>
</div>
