<div id="outer">
    <form [formGroup]="form" (ngSubmit)="createSecret()" novalidate>
        <mat-form-field appearance="fill">
            <mat-label>Secret Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Certificate PEM</mat-label>
                <input matInput formControlName="cert">
            </mat-form-field>
    
        <button mat-raised-button color="primary"  type="submit">Save</button>    
        <button mat-raised-button color="primary"  (click)="cancel()">Cancel</button>    

    </form>
</div>
