<spinner class="global-centered-spinner" [show]="waitingForRegister"></spinner>

<div id="container">
    <div id="form-container">
        <div [formGroup]="form" class="form">
            <mat-form-field color="accent">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="" type="text" formControlName="firstName">
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="" type="text" formControlName="lastName">
            </mat-form-field>

            <mat-form-field color="accent">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username" type="text" formControlName="username">
            </mat-form-field>
         
            <mat-form-field color="accent">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" type="password" formControlName="password">
            </mat-form-field>

           
         
            <button mat-raised-button color="primary" type="submit" (click)="register()" [disabled]="!form.valid">Create Account</button>
        
        </div>
    </div>

</div>
