<div id="modules-container">
    <section id="modules">
        <form [formGroup]="form" novalidate>
            <H1>Module Setup</H1>
            <mat-form-field appearance="fill">
                <mat-label>Deployment Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>

            <H2>Resources</H2>
            <H2>Secrets</H2>
            <div *ngFor="let secret of secrets;" formGroupName="secrets">
                <!-- Create new Secret -->
                <div>
                    <button mat-raised-button color="primary" (click)="createSecret(secret.type)">Create Secret</button>
                </div>
                
                <!-- Select from available secrets -->
                <mat-form-field appearance="fill" [hintLabel]="secret.description">
                    <mat-label>{{secret.name}}</mat-label>
                    <mat-select [formControlName]="secret.id">
                        <mat-option *ngFor="let secret of secretOptions[secret.type]" [value]="secret.id">
                        {{secret.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <H2>Configs</H2>
            <div *ngFor="let config of configs;" formGroupName="configs">
                <mat-form-field appearance="fill" [hintLabel]="config.description">
                    <mat-label>{{config.name}}</mat-label>
                    <!-- Single Value Config -->
                    <span *ngIf="!config.is_list">
                        <!-- Free -->
                        <span *ngIf="!config.options">
                            <span *ngIf="config.type == 'text'">
                                <input matInput [formControlName]="config.id">
                            </span>
                            <span *ngIf="config.type == 'number'">
                                <input matInput [formControlName]="config.id" type="number">
                            </span>
                        </span>

                        <!-- Dropdown -->
                        <span *ngIf="config.options">
                            <mat-select [formControlName]="config.id">
                                <mat-option *ngFor="let option of config.options" [value]="option">
                                  {{option}}
                                </mat-option>
                            </mat-select>
                        </span>
                    </span>

                    <!-- Multi Value Config -->
                    <span *ngIf="config.is_list">                                
                        <mat-chip-grid #chipGrid [formControlName]="config.id">
                            <mat-chip-row *ngFor="let option of form.get('configs')?.get(config.id)?.value"
                                          (removed)="remove(option, 'configs', config.id)"
                                          [editable]="true">
                              {{option}}
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip-row>
                            <input placeholder="New value..."
                                   [matChipInputFor]="chipGrid"
                                   (matChipInputTokenEnd)="add($event, 'configs', config.id)"/>
                          </mat-chip-grid>
                    </span>
                    
                </mat-form-field>
            </div>
          
            <button mat-raised-button color="primary" type="submit" (click)="submit()">Deploy</button>
        </form>

        <p>{{formStr}}</p>
    </section>
</div>
