<spinner [show]="!ready" class="global-centered-spinner"></spinner>

@if (ready) {
  <div class="form-margin">
    @if (mode == 'add') {
      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select (selectionChange)="selectSecretType()" [(ngModel)]="selectedSecretType">
          @for (secretType of secretTypes; track secretType) {
            <mat-option [value]="secretType.id">
              {{ secretType.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
    @if (!!selectedSecretType) {
      <div>
        <form [formGroup]="form">
          <mat-form-field appearance="fill">
            <mat-label>Secret Name</mat-label>
            <input formControlName="name" matInput>
          </mat-form-field>
          @if (selectedSecretType == SecretTypesConst.BasicAuth) {
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input formControlName="username" matInput>
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput type="password">
              </mat-form-field>
            </div>
          }
          @if (selectedSecretType == SecretTypesConst.APIKey) {
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Key</mat-label>
                <input formControlName="value" matInput>
              </mat-form-field>
            </div>
          }
          @if (selectedSecretType == SecretTypesConst.Certificate) {
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Certificate</mat-label>
                <textarea #autosize="cdkTextareaAutosize" cdkAutosizeMaxRows="5" cdkAutosizeMinRows="1" cdkTextareaAutosize
                formControlName="value" matInput></textarea>
              </mat-form-field>
            </div>
          }
          @if (selectedSecretType == SecretTypesConst.PrivateKey) {
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Private Key</mat-label>
                <textarea #autosize="cdkTextareaAutosize" cdkAutosizeMaxRows="5" cdkAutosizeMinRows="1" cdkTextareaAutosize
                formControlName="value" matInput></textarea>
              </mat-form-field>
            </div>
          }
          @if (selectedSecretType == SecretTypesConst.ClientID) {
            <div>
              <mat-form-field appearance="fill">
                <mat-label>Client ID</mat-label>
                <input formControlName="value" matInput>
              </mat-form-field>
            </div>
          }
          @if (mode == 'add') {
            <button (click)="createSecret()" color="primary" mat-raised-button>Create</button>
          }
          @if (mode == 'edit') {
            <button (click)="updateSecret()" color="primary" mat-raised-button>Update</button>
          }
        </form>
      </div>
    }
  </div>
}
