<div [formGroup]="form" class="form-margin">
  <spinner class="global-centered-spinner" [show]="!ready"></spinner>

  <div *ngIf="ready">
    <mat-form-field color="accent">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Path" type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Confirmation</mat-label>
      <input matInput placeholder="Path" type="password" formControlName="confirmation">
    </mat-form-field>
    <mat-error *ngIf="form.errors?.['match'] && (form.touched || form.dirty)">{{getErrorMessage()}}</mat-error>

    <button mat-raised-button color="primary" [routerLink]="'/core/accounts/users'">Cancel</button>
    <button mat-raised-button color="primary" type="submit" (click)="edit()" [disabled]="!form.valid">Update</button>
  </div>
</div>
