.group-container {
    margin-bottom: 30px;
}

.card {
    padding: 30px
}

.form-field-container {
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
}

#hostResources {
    display: flex;
    justify-content: space-between;
}

#hostResources mat-form-field {
    width: 80%;
}

.secret-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
