<div class="layout-margin">

  <spinner [show]="waitingForRegister" class="global-centered-spinner"></spinner>

  <div id="container">
    <div id="form-container">
      <div [formGroup]="form" class="form">
        <mat-form-field color="accent">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="" type="text">
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput placeholder="" type="text">
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput placeholder="Username" type="text">
        </mat-form-field>

        <mat-form-field color="accent">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput placeholder="password" type="password">
        </mat-form-field>

        <button (click)="register()" [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Create
          Account
        </button>

      </div>
    </div>
  </div>
</div>
