<div class="mgw-page mgw-page-narrow has-action-bar">
  <spinner [show]="waitingForRegister" class="global-centered-spinner"></spinner>

  <mgw-page-header
    backTo="/system/accounts/users"
    [description]="'system.register.description' | transloco"
    [title]="'system.register.title' | transloco"
  ></mgw-page-header>

  <div [formGroup]="form" class="mgw-card card">
    <div class="row">
      <div class="field">
        <label for="reg-first">{{ 'system.register.firstName' | transloco }}</label>
        <mat-form-field appearance="outline" class="control" subscriptSizing="dynamic">
          <input formControlName="firstName" id="reg-first" matInput type="text" />
        </mat-form-field>
      </div>
      <div class="field">
        <label for="reg-last">{{ 'system.register.lastName' | transloco }}</label>
        <mat-form-field appearance="outline" class="control" subscriptSizing="dynamic">
          <input formControlName="lastName" id="reg-last" matInput type="text" />
        </mat-form-field>
      </div>
    </div>

    <div class="field">
      <label for="reg-username">{{ 'system.register.username' | transloco }}</label>
      <p class="desc">{{ 'system.register.usernameHint' | transloco }}</p>
      <mat-form-field appearance="outline" class="control" subscriptSizing="dynamic">
        <input formControlName="username" id="reg-username" matInput type="text" />
      </mat-form-field>
    </div>

    <div class="field">
      <label for="reg-password">{{ 'system.register.password' | transloco }}</label>
      <mat-form-field appearance="outline" class="control" subscriptSizing="dynamic">
        <input formControlName="password" id="reg-password" matInput type="password" />
      </mat-form-field>
    </div>
  </div>

  <div class="mgw-action-bar">
    <span class="mgw-spacer"></span>
    <button [routerLink]="'/system/accounts/users'" mat-button>{{ 'system.register.cancel' | transloco }}</button>
    <button (click)="register()" [disabled]="!form.valid" mat-flat-button type="submit">
      {{ 'system.register.create' | transloco }}
    </button>
  </div>
</div>
