<div class="mgw-table-card">
  <table [dataSource]="dataSource" mat-table>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>{{ 'developer.swaggerList.service' | transloco }}</th>
      <td *matCellDef="let item" mat-cell>
        <span class="mgw-cell-primary">{{ item.name }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="auth">
      <th *matHeaderCellDef mat-header-cell>{{ 'developer.swaggerList.authentication' | transloco }}</th>
      <td *matCellDef="let item" mat-cell>
        <mgw-status-pill
          [label]="
            (item.requiresAuth ? 'developer.swaggerList.authSession' : 'developer.swaggerList.authNone') | transloco
          "
          [tone]="item.requiresAuth ? 'info' : 'idle'"
        ></mgw-status-pill>
      </td>
    </ng-container>

    <ng-container matColumnDef="apiUrl">
      <th *matHeaderCellDef mat-header-cell>{{ 'developer.swaggerList.baseUrl' | transloco }}</th>
      <td *matCellDef="let item" mat-cell>
        <span class="mgw-mono">{{ item.displayUrl }}</span>
        @if (!isExecutable(item)) {
          <span class="internal" [matTooltip]="'developer.swaggerList.internalTooltip' | transloco">
            {{ 'developer.swaggerList.internal' | transloco }}
          </span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef class="mgw-col-actions" mat-header-cell></th>
      <td *matCellDef="let item" class="mgw-col-actions" mat-cell>
        <div class="mgw-row-actions">
          @if (hasPlayground(item)) {
            <button
              [routerLink]="['/developer', item.scope, item.id]"
              [matTooltip]="'developer.swaggerList.playgroundTooltip' | transloco"
              mat-flat-button
            >
              <mat-icon>api</mat-icon>
              {{ 'developer.swaggerList.playground' | transloco }}
            </button>
          }
          <a
            [href]="item.docUrl"
            [matTooltip]="'developer.swaggerList.swaggerTooltip' | transloco"
            mat-stroked-button
            target="_blank"
          >
            <mat-icon>menu_book</mat-icon>
            {{ 'developer.swaggerList.swagger' | transloco }}
          </a>
        </div>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayColumns; sticky: true" mat-header-row></tr>
    <tr *matRowDef="let m; columns: displayColumns" mat-row></tr>
  </table>
</div>
