.dialog-content {
  min-width: 480px;
}

.full-width {
  width: 100%;
}

.definition {
  font-family: monospace;
  font-size: 13px;
}

.error {
  color: var(--mgw-danger);
  font-weight: 500;
}

.title {
  font-size: 18px;
  font-weight: 650;
}

.actions {
  padding: 8px 16px 16px;
}
