
.status {
    text-align: center;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 20px;
    color: white;
}

.running {
    background: #008700;
}

.stopped {
    background: #db0000;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.fixed-bottom-right-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
