<div class="mgw-page">
  <mgw-page-header
    [backToQueryParams]="backToQueryParams"
    [backTo]="backTo"
    [description]="'container.logs.description' | transloco"
    [title]="'container.logs.title' | transloco"
  >
    <div pageActions>
      <mat-slide-toggle (change)="autoRefreshToggleChanged($event)" [ngModel]="autoRefreshEnabled">
        {{ 'container.logs.autoRefresh' | transloco }}
      </mat-slide-toggle>
      <mat-form-field appearance="outline" class="lines" subscriptSizing="dynamic">
        <mat-label>{{ 'container.logs.lines' | transloco }}</mat-label>
        <input (ngModelChange)="maxLinesChanges($event)" [(ngModel)]="maxLines" matInput type="number" />
      </mat-form-field>
    </div>
  </mgw-page-header>

  <div class="log-card">
    @if (ready && !init) {
      <mgw-log-viewer [logs]="logs" />
    } @else {
      <p class="loading">{{ 'container.logs.loading' | transloco }}</p>
    }
  </div>
</div>
