<form [formGroup]="form" (ngSubmit)="submit()">
  <deployment-template [mode]="mode" [deploymentData]="deployment" [deploymentTemplateData]="deploymentTemplateDataBinding" [moduleID]="moduleID" [IsDependency]="false"
    [secretOptions]="secretOptionsBinding"></deployment-template>

    <div *ngIf="dependencies_module_ids.length > 0">
      <H2>Dependencies</H2>
      <deployment-template [mode]="mode" [deploymentData]="deployment" [deploymentTemplateData]="deploymentTemplateDataBinding" [secretOptions]="secretOptionsBinding"
        [moduleID]="module_id" [IsDependency]="true" *ngFor="let module_id of dependencies_module_ids">
      </deployment-template>
    </div>

  <button *ngIf="mode == 'new'" mat-raised-button color="primary" type="submit">Deploy</button>
  <button *ngIf="mode == 'edit'" mat-raised-button color="primary" type="submit">Update</button>

  <p>{{formStr}}</p>
</form>
