<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h2 mat-dialog-title>{{ 'system.hostApplications.addDialog.title' | transloco }}</h2>
  <mat-dialog-content>
    <div class="input-container">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>{{ 'system.hostApplications.addDialog.name' | transloco }}</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>{{ 'system.hostApplications.addDialog.socketPath' | transloco }}</mat-label>
        <input matInput formControlName="socket" required />
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button type="button" (click)="dialogRef.close()">
      {{ 'system.hostApplications.addDialog.cancel' | transloco }}
    </button>
    <button mat-stroked-button type="submit" [disabled]="!form.valid">
      {{ 'system.hostApplications.addDialog.add' | transloco }}
    </button>
  </mat-dialog-actions>
</form>
