<spinner [show]="!ready && init"></spinner>

@if (ready && dataSource.data.length === 0 && dataSourceAlias.data.length === 0) {
  <p class="none">{{ 'core.listEndpoints.empty' | transloco }}</p>
}

@if (dataSource.data.length > 0) {
  <div class="group">
    <h3>{{ 'core.listEndpoints.generated' | transloco }}</h3>
    <div class="mgw-table-card">
      <table
        #endpointSort="matSort"
        [dataSource]="dataSource"
        mat-table
        matSort
        matSortActive="name"
        matSortDirection="asc"
      >
        <ng-container matColumnDef="url">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'core.listEndpoints.url' | transloco }}</th>
          <td *matCellDef="let endpoint" mat-cell>
            <a [href]="'/endpoints/deployment/' + endpoint.ref + '/' + endpoint.ext_path" class="url" target="_blank">
              {{ location.origin + '/endpoints/deployment/' + endpoint.ref + '/' + endpoint.ext_path }}
              <mat-icon>open_in_new</mat-icon>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="add">
          <th *matHeaderCellDef class="mgw-col-actions" mat-header-cell></th>
          <td *matCellDef="let endpoint" class="mgw-col-actions" mat-cell>
            <div class="mgw-row-actions">
              <button
                [disabled]="endpoint.type == 2"
                [routerLink]="'/resources/endpoints/add/' + endpoint.id"
                [matTooltip]="'core.listEndpoints.addAliasHint' | transloco"
                mat-stroked-button
              >
                <mat-icon>add_link</mat-icon>
                {{ 'core.listEndpoints.addAlias' | transloco }}
              </button>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let m; columns: displayColumns" mat-row></tr>
      </table>
    </div>
  </div>
}

@if (dataSourceAlias.data.length > 0) {
  <div class="group">
    <h3>{{ 'core.listEndpoints.aliases' | transloco }}</h3>

    @if (selection.selected.length > 0) {
      <div class="bulk-bar">
        <span class="bulk-count">{{
          'core.listEndpoints.selected' | transloco: {count: selection.selected.length}
        }}</span>
        <button (click)="deleteMultiple()" class="mgw-danger" mat-button>
          <mat-icon>delete</mat-icon>
          {{ 'core.listEndpoints.delete' | transloco }}
        </button>
        <span class="mgw-spacer"></span>
        <button
          (click)="selection.clear()"
          [matTooltip]="'core.listEndpoints.clearSelection' | transloco"
          mat-icon-button
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    }

    <div class="mgw-table-card">
      <table
        #aliasSort="matSort"
        [dataSource]="dataSourceAlias"
        mat-table
        matSort
        matSortActive="name"
        matSortDirection="asc"
      >
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef class="col-select" mat-header-cell>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [attr.aria-label]="'core.listEndpoints.selectAllAliases' | transloco"
            >
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="col-select" mat-cell>
            <mat-checkbox
              (change)="$event ? selection.toggle(row.id) : null"
              (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row.id)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="url">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>{{ 'core.listEndpoints.url' | transloco }}</th>
          <td *matCellDef="let endpoint" mat-cell>
            <a [href]="'/endpoints/alias/' + endpoint.ext_path" class="url" target="_blank">
              {{ location.origin + '/endpoints/alias/' + endpoint.ext_path }}
              <mat-icon>open_in_new</mat-icon>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th *matHeaderCellDef class="mgw-col-actions" mat-header-cell></th>
          <td *matCellDef="let endpoint" class="mgw-col-actions" mat-cell>
            <div class="mgw-row-actions">
              <button
                (click)="deleteEndpoint(endpoint.id)"
                [disabled]="endpoint.type == 1"
                [matTooltip]="'core.listEndpoints.deleteAlias' | transloco"
                class="danger-icon"
                mat-icon-button
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayColumnsAlias; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let m; columns: displayColumnsAlias" mat-row></tr>
      </table>
    </div>
  </div>
}
