<spinner [show]="!ready && init"></spinner>

@if (ready && dataSource.data.length === 0 && dataSourceAlias.data.length === 0) {
  <p class="none">This deployment exposes no endpoints.</p>
}

@if (dataSource.data.length > 0) {
  <div class="group">
    <h3>Generated</h3>
    <div class="mgw-table-card">
      <table [dataSource]="dataSource" mat-table matSort matSortActive="name" matSortDirection="asc">
        <ng-container matColumnDef="url">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>URL</th>
          <td *matCellDef="let endpoint" mat-cell>
            <a [href]="'/endpoints/deployment/' + endpoint.ref + '/' + endpoint.ext_path" class="url" target="_blank">
              {{ location.origin + '/endpoints/deployment/' + endpoint.ref + '/' + endpoint.ext_path }}
              <mat-icon>open_in_new</mat-icon>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="add">
          <th *matHeaderCellDef class="mgw-col-actions" mat-header-cell></th>
          <td *matCellDef="let endpoint" class="mgw-col-actions" mat-cell>
            <div class="mgw-row-actions">
              <button [disabled]="endpoint.type == 2" [routerLink]="'/resources/endpoints/add/' + endpoint.id"
                      mat-stroked-button matTooltip="Give this endpoint a shorter URL">
                <mat-icon>add_link</mat-icon>
                Add alias
              </button>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let m; columns: displayColumns;" mat-row></tr>
      </table>
    </div>
  </div>
}

@if (dataSourceAlias.data.length > 0) {
  <div class="group">
    <h3>Aliases</h3>

    @if (selection.selected.length > 0) {
      <div class="bulk-bar">
        <span class="bulk-count">{{ selection.selected.length }} selected</span>
        <button (click)="deleteMultiple()" class="mgw-danger" mat-button>
          <mat-icon>delete</mat-icon>
          Delete
        </button>
        <span class="mgw-spacer"></span>
        <button (click)="selection.clear()" mat-icon-button matTooltip="Clear selection">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    }

    <div class="mgw-table-card">
      <table [dataSource]="dataSourceAlias" mat-table matSort matSortActive="name" matSortDirection="asc">
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef class="col-select" mat-header-cell>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          aria-label="Select all aliases">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="col-select" mat-cell>
            <mat-checkbox (change)="$event ? selection.toggle(row.id) : null" (click)="$event.stopPropagation()"
                          [checked]="selection.isSelected(row.id)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="url">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>URL</th>
          <td *matCellDef="let endpoint" mat-cell>
            <a [href]="'/endpoints/alias/' + endpoint.ext_path" class="url" target="_blank">
              {{ location.origin + '/endpoints/alias/' + endpoint.ext_path }}
              <mat-icon>open_in_new</mat-icon>
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th *matHeaderCellDef class="mgw-col-actions" mat-header-cell></th>
          <td *matCellDef="let endpoint" class="mgw-col-actions" mat-cell>
            <div class="mgw-row-actions">
              <button (click)="deleteEndpoint(endpoint.id)" [disabled]="endpoint.type == 1" class="danger-icon"
                      mat-icon-button matTooltip="Delete alias">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayColumnsAlias; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let m; columns: displayColumnsAlias;" mat-row></tr>
      </table>
    </div>
  </div>
}
