<h2 class="title" mat-dialog-title>{{ 'modules.refreshReposDialog.title' | transloco }}</h2>

<div class="dialog-content" mat-dialog-content>
  @if (hasPendingChangeRequest) {
    <div class="warning">
      <mat-icon>warning</mat-icon>
      <span>{{ 'modules.refreshReposDialog.warning' | transloco }}</span>
    </div>
  }

  <p class="lead">{{ 'modules.refreshReposDialog.lead' | transloco }}</p>

  @for (repo of repositories; track repo.source) {
    <label class="repo">
      <mat-checkbox [(ngModel)]="selected[repo.source]"></mat-checkbox>
      <span class="repo-text">
        <span class="repo-name">{{ repo.source }}</span>
        <span class="repo-type">{{ repo.type }}</span>
      </span>
    </label>
  }
</div>

<div class="actions" mat-dialog-actions>
  <span class="mgw-spacer"></span>
  <button [mat-dialog-close]="undefined" mat-button>{{ 'modules.refreshReposDialog.cancel' | transloco }}</button>
  <button (click)="refresh()" [disabled]="selectedSources().length === 0" mat-flat-button>
    {{ 'modules.refreshReposDialog.refresh' | transloco }}
  </button>
</div>
