<mat-sidenav-container class="sidenav-container">
  <mat-sidenav opened="true" mode="side" id="sidenav">
    <ul class="side-menu">
      <li *ngFor="let section of sections">
        <button type=button routerLink="{{section.state}}" routerLinkActive="background-color-sidenav"
          *ngIf="section.type === 'link'">
          <mat-icon>{{section.icon}}</mat-icon>
          {{section.name | uppercase}}
        </button>

        <button *ngIf="section.type === 'toggle'" (click)="toggleSection(section)"
          [ngClass]="{'background-color-sidenav': isSectionOpen(section)}" routerLink="{{section.state}}">
          <span class="toggle-button">
            <mat-icon>{{section.icon}}</mat-icon>
            <div>{{section.name | uppercase}}</div>
            <mat-icon class="toggle-icon" [ngClass]="{'toggled': isSectionOpen(section)}">
              keyboard_arrow_down
            </mat-icon>
          </span>

        </button>

        <ul [ngClass]="{'toggled': isSectionOpen(section)}" class="toggle-list">
          <li *ngFor="let page of section.pages">
            <button routerLink="{{page.state}}" routerLinkActive="background-color-sidenav" class="toggle-list-button">
              <mat-icon>
                {{page.icon}}</mat-icon>
              {{page.name}}
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet #o="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
