<mat-sidenav-container class="sidenav-container">
  <mat-sidenav id="sidenav" mode="side" opened="true">
    <div id="sidenav-inner">
      <ul class="side-menu">
        <li *ngFor="let section of sections">
          <button *ngIf="section.type === 'link'" routerLink="{{section.state}}" routerLinkActive="background-color-sidenav"
                  type=button>
            <mat-icon>{{ section.icon }}</mat-icon>
            {{ section.name | uppercase }}
          </button>

          <button (click)="toggleSection(section)" *ngIf="section.type === 'toggle'"
                  [ngClass]="{'background-color-sidenav': isSectionOpen(section)}" routerLink="{{section.state}}">
            <span class="toggle-button">
              <mat-icon>{{ section.icon }}</mat-icon>
              <div>{{ section.name | uppercase }}</div>
              <mat-icon [ngClass]="{'toggled': isSectionOpen(section)}" class="toggle-icon">
                keyboard_arrow_down
              </mat-icon>
            </span>

          </button>

          <ul [ngClass]="{'toggled': isSectionOpen(section)}" class="toggle-list">
            <li *ngFor="let page of section.pages">
              <button class="toggle-list-button" routerLink="{{page.state}}"
                      routerLinkActive="background-color-sidenav">
                <mat-icon>
                  {{ page.icon }}
                </mat-icon>
                {{ page.name }}
              </button>
            </li>
          </ul>
        </li>
      </ul>
      <div>
        <button [matMenuTriggerFor]="user" color="accent" mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #user="matMenu" [overlapTrigger]="false" yPosition="above">
          <button (click)="logout()" mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            Logout
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet #o="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
