<div class="layout-margin">
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="addModule()">
      <mat-form-field appearance="fill">
        <mat-label>URL to Modfile</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Version</mat-label>
        <input matInput formControlName="version">
      </mat-form-field>
    
      <button mat-raised-button color="primary" type="submit">Add</button>
    </form>
  </div>
</div>
