<div class="layout-margin">
  <div class="form-container">
    <form [formGroup]="form">
      <mat-form-field appearance="fill">
        <mat-label>URL to Modfile</mat-label>
        <input formControlName="id" matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Version</mat-label>
        <input formControlName="version" matInput>
      </mat-form-field>

      <button (click)="addModule()" color="primary" mat-raised-button>Add</button>
      <button (click)="cancel()" color="primary" mat-raised-button>Cancel</button>
    </form>
  </div>
</div>
