<div class="mgw-page">
  <mgw-page-header
    [description]="'developer.page.description' | transloco"
    [title]="'developer.page.title' | transloco"
  ></mgw-page-header>

  <section class="api-group">
    <header>
      <h2>{{ 'developer.groups.public.title' | transloco }}</h2>
      <p>{{ 'developer.groups.public.description' | transloco }}</p>
    </header>
    <app-swagger-list [items]="publicApis"></app-swagger-list>
  </section>

  <section class="api-group">
    <header>
      <h2>{{ 'developer.groups.module.title' | transloco }}</h2>
      <p>{{ 'developer.groups.module.description' | transloco }}</p>
    </header>
    <app-swagger-list [items]="moduleApis"></app-swagger-list>
  </section>

  <section class="api-group">
    <header>
      <h2>{{ 'developer.groups.core.title' | transloco }}</h2>
      <p>{{ 'developer.groups.core.description' | transloco }}</p>
    </header>
    <app-swagger-list [items]="internalApis"></app-swagger-list>
  </section>
</div>
