<form [formGroup]="form" (ngSubmit)="submit(form)">
  <h2 mat-dialog-title>Add host network range</h2>
  <mat-dialog-content>
    <div class="input-container">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Range</mat-label>
        <input matInput formControlName="range" required>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-stroked-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-stroked-button type="submit" [disabled]="!form.valid">Add</button>
  </mat-dialog-actions>
</form>
